<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show de Imagens</title>
    <link rel="stylesheet" href="/css/assets.css">
</head>
<body>
    <header>
        <a href="index.html"><button class="back">Return</button></a>
    </header>
    <main>
            <div>
                <h1>One Piece</h1>
                <div class="buttons">
                    <button value="1" class="botoes">1</button>
                    <button value="2" class="botoes">2</button>
                    <button value="3" class="botoes">3</button>
                    <button value="4" class="botoes">4</button>
                    <button value="5"class="botoes">5</button>
                    <button value="6" class="botoes">6</button>
                </div>
                <p>
                    A épica aventura de Monkey D. Luffy e sua tripulação em busca do One Piece.
                </p>
            </div>
    </main>
    <script src="./js/index.js"  type="module"></script>
</body>
</html>